.textInput {
  width: 100%;
  padding: 0.25rem 0;
  outline: none;
  border-bottom: solid 1px;
  border-image: linear-gradient(
      to left,
      theme("colors.white") 0% 100%,
      theme("colors.highlight") 100% 100%
    )
    5;
  background: transparent;
  transition: all 0.5s ease-in-out;

  &:focus {
    border-image: linear-gradient(
        to left,
        theme("colors.white") 0% 0%,
        theme("colors.highlight") 0% 100%
      )
      5;
  }

  &.error {
    border-image: linear-gradient(
        to left,
        theme("colors.highlight") 0% 0%,
        theme("colors.error") 0% 100%
      )
      5;

    &:focus {
      border-image: linear-gradient(to left, theme("colors.error") 0% 100%) 5;
    }
  }
}
